<div class="container">
  <h1>{{ title }}</h1>

  <div class="create">
    <input [(ngModel)]="newTitle" placeholder="New todo…" />
    <button (click)="add()">Add</button>
  </div>

  <div *ngIf="loading">Loading…</div>

  <ul>
    <li *ngFor="let t of todos">
      <label>
        <input type="checkbox" [checked]="t.done" (change)="toggle(t)" />
        <span [class.done]="t.done">{{ t.title }}</span>
      </label>
      <button class="danger" (click)="remove(t)">Delete</button>
    </li>
  </ul>
</div>
